{% extends "wagtailadmin/admin_base.html" %}

{% load static %}
{% block sitename %}
    {{ settings.WAGTAIL_SITE_NAME }}
{% endblock %}
{% block titletag %}
    {% if user.is_authenticated %}
        Home page
    {% else %}
        Sign in
    {% endif %}
{% endblock %}
{% block extra_css %}
    {{ block.super }}
    {% if settings.SITE_CODE == "springster" %}
        <link rel="stylesheet" href="{% static "wagtail_client/css/springster.css" %}">
    {% elif settings.SITE_CODE == "ninyampinga" %}
        <link rel="stylesheet" href="{% static "wagtail_client/css/ninyampinga.css" %}">
    {% endif %}
{% endblock %}

{% block furniture %}
    <div class="content-wrapper">
        {% if user.is_authenticated %}
            <h1>Welcome <i>{{ user.first_name }}</i> to the {{ settings.WAGTAIL_SITE_NAME }} home page</h1>
            <div class="content">
                {% if user.email %}
                    <h1>E-mail: {{ user.email }}</h1>
                {% endif %}
                {% if user.groups.all %}
                    <h2>User has the following roles for this site:</h2>
                    {% for group in user.groups.all %}
                        <p>{{ group.name }}</p>
                    {% endfor %}
                    {% for group in user.groups.all %}
                        {% if group.name == "data_viewer"%}
                            <p style="font-style:italic;font-size:20px;">This piece of content is only visible to users with the Data Viewer role on this application</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                    <form action="{% url "oidc_logout" %}" method="post">
                        {% csrf_token %}
                        <div class="submit">
                            <input class="button" type="submit" value="Logout" />
                        </div>
                    </form>
                <div class="submit">
                    <a class="button" href="{{ settings.OIDC_OP }}/profile/edit/?theme={{ settings.SITE_CODE }}&redirect_url={{ settings.WAGTAIL_REDIRECT_URL|urlencode }}">Edit Profile</a>
                </div>
                <h2>Try out different languages on the Authentication Service.</h2>
                <p>The following links will take you to the edit profile page in the language indicated on the button.</p>
                <div class="submit">
                    <a class="button" href="{{ settings.OIDC_OP }}/af/profile/edit/?theme={{ settings.SITE_CODE }}&redirect_url={{ settings.WAGTAIL_REDIRECT_URL|urlencode }}">Afrikaans</a>
                </div>
                <div class="submit">
                    <a class="button" href="{{ settings.OIDC_OP }}/de/profile/edit/?theme={{ settings.SITE_CODE }}&redirect_url={{ settings.WAGTAIL_REDIRECT_URL|urlencode }}">German</a>
                </div>
            </div>
        {% else %}
            <h1>Welcome to the {{ site_name }} home page</h1>
            <div class="content">
                <h2>Basic demo: Click and go</h2>
                <p>
                    Login functionality is the same for any user. System users will see an extra step where they need to
                    provide their 2FA token.
                </p>
                <a class="button" href="{% url 'oidc_authentication_init' %}">Login</a>
                <p>
                    You can also navigate to a protected page (one that requires you to be logged in) and it will
                    automatically redirect you to the login page on the Identity Provider.
                </p>
                <a class="button" href="{% url 'protected' %}">Go to a protected page</a>
                <p>
                    Registration functionality can be tailored per site. Below we have 2 typical registration buttons, one
                    for "end users" (2FA not required, less required fields) and "system users" (2FA required, more required
                    fields, more stringent password requirements).
                </p>
                <div class="buttons">
                    <a id="endUserRedirectButton" class="button" href="{{ settings.OIDC_OP }}/registration/?theme={{ settings.SITE_CODE }}&hide=end-user&redirect_url={{ settings.WAGTAIL_REDIRECT_URL|urlencode }}">Register as an "End User"</a>
                    <a id="systemUserRedirectButton" class="button" href="{{ settings.OIDC_OP }}/registration/?security=high&theme={{ settings.SITE_CODE }}&requires=first_name&requires=last_name&requires=gender&redirect_url={{ settings.WAGTAIL_REDIRECT_URL|urlencode }}">Register as a "System User"</a>
                </div>
                {% comment %}
                    TODO once sure how we want to demo it, a management command should suffice, wagtail can build pages.
                {% endcomment %}
                {% comment %}
                    THE ADVANCED DEMO IS HIDDEN AS PER GE-1005. CAN EASILY BE RECOVERED BY UNCOMMENTING
                    <h2>Advanced demo: customise the registration experience</h2>
                    <div>
                        <div class="field-group">
                            <h3>Toggle some options:</h3>
                            <input id="security" type="checkbox" value="security" checked>High security<br>
                            <input id="show2fa" type="checkbox" value="show2fa">Show two factor auth<br>
                            <input id="redirect" type="checkbox" value="redirect" checked>Redirect back here?<br>
                        </div>
                        <div class="field-group">
                            <h3>Pick a theme:</h3>
                            <select id="theme">
                                <option value="springster">Springster</option>
                                <option value="ninyampinga">Ninyampinga</option>
                                <option value="none">No theme</option>
                            </select>
                        </div>
                        <div class="field-group">
                            <h3>Make some optional fields required:</h3>
                            <input id="first_name" type="checkbox" value="first_name">First Name<br>
                            <input id="last_name" type="checkbox" value="last_name">Last name<br>
                            <input id="nickname" type="checkbox" value="nickname">Nickname<br>
                            <input id="msisdn" type="checkbox" value="msisdn">MSISDN<br>
                            <input id="birth_date" type="checkbox" value="birth_date">Birth date<br>
                            <input id="gender" type="checkbox" value="gender">Gender<br>
                            <input id="avatar" type="checkbox" value="avatar">Avatar<br>
                        </div>
                        <div class="field-group">
                            <h3>Hide some optional fields (ones you flagged as required will be ignored):</h3>
                            <input id="first_name_hide" type="checkbox" value="first_name_hide">First Name<br>
                            <input id="last_name_hide" type="checkbox" value="last_name_hide">Last name<br>
                            <input id="nickname_hide" type="checkbox" value="nickname_hide">Nickname<br>
                            <input id="msisdn_hide" type="checkbox" value="msisdn_hide">MSISDN<br>
                            <input id="birth_date_hide" type="checkbox" value="birth_date_hide">Birth date<br>
                            <input id="gender_hide" type="checkbox" value="gender_hide">Gender<br>
                            <input id="avatar_hide" type="checkbox" value="avatar_hide">Avatar<br>
                        </div>
                    </div>
                    <div class="submit">
                        <a id="customRedirectButton" class="button" href="{{ settings.OIDC_OP }}/registration/?redirect_url={{ settings.WAGTAIL_REDIRECT_URL|urlencode }}">Register with custom parameters</a>
                    </div>
                {% endcomment %}
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block extra_js %}
{{ block.super }}
<script>
    // Hard coded like this is fine for demo purposes.
    // TODO The redirect urls will need to be updated from context later on.
    document.addEventListener('DOMContentLoaded', function(event) {
        document.getElementById('customRedirectButton').addEventListener('click', function(e) {
            e.preventDefault()
            var href = '{{ settings.OIDC_OP }}/registration/';
            var theme = document.getElementById('theme').value;
            href += '?theme=' + theme;
            if (document.getElementById('security').checked) {
                href += '&security=high';
            }
            if (document.getElementById('show2fa').checked) {
                href += '&show2fa=true';
            }
            if (document.getElementById('redirect').checked) {
                href += '&redirect_url={{ settings.WAGTAIL_REDIRECT_URL|urlencode }}';
            }
            // Required fields
            if (document.getElementById('first_name').checked) {
                href += '&requires=first_name';
            }
            if (document.getElementById('last_name').checked) {
                href += '&requires=last_name';
            }
            if (document.getElementById('nickname').checked) {
                href += '&requires=nickname';
            }
            if (document.getElementById('msisdn').checked) {
                href += '&requires=msisdn';
            }
            if (document.getElementById('birth_date').checked) {
                href += '&requires=birth_date';
            }
            if (document.getElementById('gender').checked) {
                href += '&requires=gender';
            }
            if (document.getElementById('avatar').checked) {
                href += '&requires=avatar';
            }
            // Hidden fields
            if (document.getElementById('first_name_hide').checked && !document.getElementById('first_name').checked) {
                href += '&hide=first_name';
            }
            if (document.getElementById('last_name_hide').checked && !document.getElementById('last_name').checked) {
                href += '&hide=last_name';
            }
            if (document.getElementById('nickname_hide').checked && !document.getElementById('nickname').checked) {
                href += '&hide=nickname';
            }
            if (document.getElementById('msisdn_hide').checked && !document.getElementById('msisdn').checked) {
                href += '&hide=msisdn';
            }
            if (document.getElementById('birth_date_hide').checked && !document.getElementById('birth_date').checked) {
                href += '&hide=birth_date';
            }
            if (document.getElementById('gender_hide').checked && !document.getElementById('gender').checked) {
                href += '&hide=gender';
            }
            if (document.getElementById('avatar_hide').checked && !document.getElementById('avatar').checked ) {
                href += '&hide=avatar';
            }
            console.info(href);
            window.location.href = href
        });
    });
</script>
{% endblock %}
